
{% extends "wiki-base.html" %}
{% block content %}
<!--
<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Login</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
      </table>

      <div class="error">
        {{error}}
      </div>

      <input type="submit">
    </form>
  </body>

</html>
-->
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="static/login-style.css" />
</head>
<body>
<div class="login-container" id="login-content" >
		<form method="post">
			<h1>Login Form</h1>
			<div>
				<input type="text" placeholder="username" name = "username" value="{{username}}"required="" id="username" />
			</div>
			<div>
				<input type="password" name="password" value="" placeholder="Password" required="" id="password" />
			</div>
			<div class="error">
			{{error}}
			 </div>
			<div>
				<input type="submit" value="Log in" />
			</div>
		</form><!-- form -->
</div><!-- container -->
</body>
</html>

{% endblock %}

